
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 10fr;
    min-height: 100vh;
}

.header{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    color: white;
    grid-column: 2 / 3;
}

.nav{
    background-color: aqua;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-form{
    display: flex;
    flex-direction: column;
}